<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Colour Stock</title>
  <meta name="description" content="Warwick Tech Crew's lighting stock
">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
  <link rel="stylesheet" href="/css/main.css?cachebust=202501220621">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
  <link rel="canonical" href="/gels/">
  <script type="text/javascript" src="//code.jquery.com/jquery-2.2.0.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
</head>

  <body>
    <div class="nav-bar">
  <div class="wrapper">
    <div class="nav-button">
      <a href="/" title="Back"><i class="ion-ios-arrow-back"></i></a>
    </div>
    <div class="nav-spacer"></div>
    <div id="gel-sort-numeric" class="nav-button gel-sort-numeric active">
      <i class="ion-pound"></i>
    </div>
    <div id="gel-sort-hue" class="nav-button gel-sort-hue">
      <i class="ion-ios-color-filter"></i>
    </div>
    <div class="nav-spacer"></div>
    <div class="nav-search">
      <input id="q" type="text" placeholder="search" />
    </div>
  </div>
</div>

<div class="wrapper">

<div class="gels">
  <ul id="gels-list" class="gels-list">
    
    
    <li
      data-gel-code="L004"
      data-gel-color="FFC8B4"
      data-gel-name="Medium Bastard Amber"
      data-gel-description="Naturally enhances skin tones."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L004">
        <div class="gel-swatch gel-swatch-L004">
          <div class="gel-swatch-code">L004</div>
        </div>
        <h2>Medium Bastard Amber</h2>
        <p>Naturally enhances skin tones.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L008"
      data-gel-color="FC9B80"
      data-gel-name="Dark Salmon"
      data-gel-description="Enhances dark skin tones, sunsets, ballroom sets."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L008">
        <div class="gel-swatch gel-swatch-L008">
          <div class="gel-swatch-code">L008</div>
        </div>
        <h2>Dark Salmon</h2>
        <p>Enhances dark skin tones, sunsets, ballroom sets.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L013"
      data-gel-color="FCD89B"
      data-gel-name="Straw Tint"
      data-gel-description="Warmer than other straw colours. A good sunlight effect when used in contrast with ambers and blues."
      data-gel-sheets="3"
    >
      <div class="gel-item gel-L013">
        <div class="gel-swatch gel-swatch-L013">
          <div class="gel-swatch-code">L013</div>
        </div>
        <h2>Straw Tint</h2>
        <p>Warmer than other straw colours. A good sunlight effect when used in contrast with ambers and blues.</p>
        <dl class="gel-sheets">
          Sheets 3
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L015"
      data-gel-color="FFCD00"
      data-gel-name="Deep Straw"
      data-gel-description="A warm amber light. Good for effects such as candlelight and fire."
      data-gel-sheets="2"
    >
      <div class="gel-item gel-L015">
        <div class="gel-swatch gel-swatch-L015">
          <div class="gel-swatch-code">L015</div>
        </div>
        <h2>Deep Straw</h2>
        <p>A warm amber light. Good for effects such as candlelight and fire.</p>
        <dl class="gel-sheets">
          Sheets 2
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L017"
      data-gel-color="E68C64"
      data-gel-name="Surprise Peach"
      data-gel-description="Good for skin tones and creating a moody lighting effect."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L017">
        <div class="gel-swatch gel-swatch-L017">
          <div class="gel-swatch-code">L017</div>
        </div>
        <h2>Surprise Peach</h2>
        <p>Good for skin tones and creating a moody lighting effect.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L024"
      data-gel-color="FF5A64"
      data-gel-name="Scarlet"
      data-gel-description="Great for pantomimes, ballroom sets and fire effects."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L024">
        <div class="gel-swatch gel-swatch-L024">
          <div class="gel-swatch-code">L024</div>
        </div>
        <h2>Scarlet</h2>
        <p>Great for pantomimes, ballroom sets and fire effects.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L026"
      data-gel-color="E6003C"
      data-gel-name="Bright Red"
      data-gel-description="A vibrant red, good for cyclorama lighting."
      data-gel-sheets="2"
    >
      <div class="gel-item gel-L026">
        <div class="gel-swatch gel-swatch-L026">
          <div class="gel-swatch-code">L026</div>
        </div>
        <h2>Bright Red</h2>
        <p>A vibrant red, good for cyclorama lighting.</p>
        <dl class="gel-sheets">
          Sheets 2
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L029"
      data-gel-color="E1003C"
      data-gel-name="Plasa Red"
      data-gel-description="Good for fire effects, musicals and cycloramas."
      data-gel-sheets="4"
    >
      <div class="gel-item gel-L029">
        <div class="gel-swatch gel-swatch-L029">
          <div class="gel-swatch-code">L029</div>
        </div>
        <h2>Plasa Red</h2>
        <p>Good for fire effects, musicals and cycloramas.</p>
        <dl class="gel-sheets">
          Sheets 4
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L049"
      data-gel-color="BE0091"
      data-gel-name="Medium Purple"
      data-gel-description="A strong cheerful glow, good for cycloramas and pantomimes."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L049">
        <div class="gel-swatch gel-swatch-L049">
          <div class="gel-swatch-code">L049</div>
        </div>
        <h2>Medium Purple</h2>
        <p>A strong cheerful glow, good for cycloramas and pantomimes.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L058"
      data-gel-color="B46EF0"
      data-gel-name="Lavender"
      data-gel-description="An excellent backlight that creates a new dimension."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L058">
        <div class="gel-swatch gel-swatch-L058">
          <div class="gel-swatch-code">L058</div>
        </div>
        <h2>Lavender</h2>
        <p>An excellent backlight that creates a new dimension.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L068"
      data-gel-color="46B4F0"
      data-gel-name="Sky Blue"
      data-gel-description="Good for morning skin tones and night skies. Great for cyclorama lights."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L068">
        <div class="gel-swatch gel-swatch-L068">
          <div class="gel-swatch-code">L068</div>
        </div>
        <h2>Sky Blue</h2>
        <p>Good for morning skin tones and night skies. Great for cyclorama lights.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L079"
      data-gel-color="3C8CD2"
      data-gel-name="Just Blue"
      data-gel-description="A good colour mixing blue. Great for cyclorama lighting."
      data-gel-sheets="3"
    >
      <div class="gel-item gel-L079">
        <div class="gel-swatch gel-swatch-L079">
          <div class="gel-swatch-code">L079</div>
        </div>
        <h2>Just Blue</h2>
        <p>A good colour mixing blue. Great for cyclorama lighting.</p>
        <dl class="gel-sheets">
          Sheets 3
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L090"
      data-gel-color="00BE00"
      data-gel-name="Dark Yellow Green"
      data-gel-description="Highlighting for forest effects."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L090">
        <div class="gel-swatch gel-swatch-L090">
          <div class="gel-swatch-code">L090</div>
        </div>
        <h2>Dark Yellow Green</h2>
        <p>Highlighting for forest effects.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L100"
      data-gel-color="F5FF00"
      data-gel-name="Spring Yellow"
      data-gel-description="A sunlight wash - use with gobos, disco and dark skin tones."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L100">
        <div class="gel-swatch gel-swatch-L100">
          <div class="gel-swatch-code">L100</div>
        </div>
        <h2>Spring Yellow</h2>
        <p>A sunlight wash - use with gobos, disco and dark skin tones.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L101"
      data-gel-color="FFF500"
      data-gel-name="Yellow"
      data-gel-description="Sunlight and window effect - pleasant in acting areas."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L101">
        <div class="gel-swatch gel-swatch-L101">
          <div class="gel-swatch-code">L101</div>
        </div>
        <h2>Yellow</h2>
        <p>Sunlight and window effect - pleasant in acting areas.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L102"
      data-gel-color="FFDC5F"
      data-gel-name="Light Amber"
      data-gel-description="A warm yellow colour. Great for candlelight or warm bright sunlight effects."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L102">
        <div class="gel-swatch gel-swatch-L102">
          <div class="gel-swatch-code">L102</div>
        </div>
        <h2>Light Amber</h2>
        <p>A warm yellow colour. Great for candlelight or warm bright sunlight effects.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L106"
      data-gel-color="F00032"
      data-gel-name="Primary Red"
      data-gel-description="Strong red effect. Good with cyclorama lighting."
      data-gel-sheets="3"
    >
      <div class="gel-item gel-L106">
        <div class="gel-swatch gel-swatch-L106">
          <div class="gel-swatch-code">L106</div>
        </div>
        <h2>Primary Red</h2>
        <p>Strong red effect. Good with cyclorama lighting.</p>
        <dl class="gel-sheets">
          Sheets 3
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L108"
      data-gel-color="FCBEA9"
      data-gel-name="English Rose"
      data-gel-description="Warm tint wash. Dark flesh tones and softer skin tones."
      data-gel-sheets="2"
    >
      <div class="gel-item gel-L108">
        <div class="gel-swatch gel-swatch-L108">
          <div class="gel-swatch-code">L108</div>
        </div>
        <h2>English Rose</h2>
        <p>Warm tint wash. Dark flesh tones and softer skin tones.</p>
        <dl class="gel-sheets">
          Sheets 2
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L113"
      data-gel-color="FF0064"
      data-gel-name="Magenta"
      data-gel-description="Very strong - used carefully for small areas on set."
      data-gel-sheets="2"
    >
      <div class="gel-item gel-L113">
        <div class="gel-swatch gel-swatch-L113">
          <div class="gel-swatch-code">L113</div>
        </div>
        <h2>Magenta</h2>
        <p>Very strong - used carefully for small areas on set.</p>
        <dl class="gel-sheets">
          Sheets 2
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L115"
      data-gel-color="00EBC8"
      data-gel-name="Peacock Blue"
      data-gel-description="A pleasing effect on set Good for cyclorama and backlighting (e.g. ice rinks, galas, etc)."
      data-gel-sheets="2"
    >
      <div class="gel-item gel-L115">
        <div class="gel-swatch gel-swatch-L115">
          <div class="gel-swatch-code">L115</div>
        </div>
        <h2>Peacock Blue</h2>
        <p>A pleasing effect on set Good for cyclorama and backlighting (e.g. ice rinks, galas, etc).</p>
        <dl class="gel-sheets">
          Sheets 2
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L116"
      data-gel-color="00C8B9"
      data-gel-name="Medium Blue-Green"
      data-gel-description="A pleasing effect for theatrical lighting."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L116">
        <div class="gel-swatch gel-swatch-L116">
          <div class="gel-swatch-code">L116</div>
        </div>
        <h2>Medium Blue-Green</h2>
        <p>A pleasing effect for theatrical lighting.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L117"
      data-gel-color="B4FAF5"
      data-gel-name="Steel Blue"
      data-gel-description="Good for cool washes. Adds a pale green tint. Great for emulating icy weather on stage."
      data-gel-sheets="4"
    >
      <div class="gel-item gel-L117">
        <div class="gel-swatch gel-swatch-L117">
          <div class="gel-swatch-code">L117</div>
        </div>
        <h2>Steel Blue</h2>
        <p>Good for cool washes. Adds a pale green tint. Great for emulating icy weather on stage.</p>
        <dl class="gel-sheets">
          Sheets 4
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L118"
      data-gel-color="00E1EB"
      data-gel-name="Light Blue"
      data-gel-description="A strong night effect."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L118">
        <div class="gel-swatch gel-swatch-L118">
          <div class="gel-swatch-code">L118</div>
        </div>
        <h2>Light Blue</h2>
        <p>A strong night effect.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L119"
      data-gel-color="0078C8"
      data-gel-name="Dark Blue"
      data-gel-description="Good for mood effects created by backlighting and side lighting. Creates great contrast."
      data-gel-sheets="2"
    >
      <div class="gel-item gel-L119">
        <div class="gel-swatch gel-swatch-L119">
          <div class="gel-swatch-code">L119</div>
        </div>
        <h2>Dark Blue</h2>
        <p>Good for mood effects created by backlighting and side lighting. Creates great contrast.</p>
        <dl class="gel-sheets">
          Sheets 2
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L120"
      data-gel-color="005FBE"
      data-gel-name="Deep Blue"
      data-gel-description="A pleasing effect for theatrical lighting."
      data-gel-sheets="2"
    >
      <div class="gel-item gel-L120">
        <div class="gel-swatch gel-swatch-L120">
          <div class="gel-swatch-code">L120</div>
        </div>
        <h2>Deep Blue</h2>
        <p>A pleasing effect for theatrical lighting.</p>
        <dl class="gel-sheets">
          Sheets 2
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L124"
      data-gel-color="00DC78"
      data-gel-name="Dark Green"
      data-gel-description="Good for cycloramas and backlighting."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L124">
        <div class="gel-swatch gel-swatch-L124">
          <div class="gel-swatch-code">L124</div>
        </div>
        <h2>Dark Green</h2>
        <p>Good for cycloramas and backlighting.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L127"
      data-gel-color="E16273"
      data-gel-name="Smokey Pink"
      data-gel-description="Good for cycloramas, set lighting and discos."
      data-gel-sheets="2"
    >
      <div class="gel-item gel-L127">
        <div class="gel-swatch gel-swatch-L127">
          <div class="gel-swatch-code">L127</div>
        </div>
        <h2>Smokey Pink</h2>
        <p>Good for cycloramas, set lighting and discos.</p>
        <dl class="gel-sheets">
          Sheets 2
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L128"
      data-gel-color="FF50B4"
      data-gel-name="Bright Pink"
      data-gel-description="Created for use as backlighting and side lighting. Great for musicals."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L128">
        <div class="gel-swatch gel-swatch-L128">
          <div class="gel-swatch-code">L128</div>
        </div>
        <h2>Bright Pink</h2>
        <p>Created for use as backlighting and side lighting. Great for musicals.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L132"
      data-gel-color="00A0DC"
      data-gel-name="Medium Blue"
      data-gel-description="Deep moonlight. Great for colour mixing."
      data-gel-sheets="2"
    >
      <div class="gel-item gel-L132">
        <div class="gel-swatch gel-swatch-L132">
          <div class="gel-swatch-code">L132</div>
        </div>
        <h2>Medium Blue</h2>
        <p>Deep moonlight. Great for colour mixing.</p>
        <dl class="gel-sheets">
          Sheets 2
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L134"
      data-gel-color="FAA873"
      data-gel-name="Golden Amber"
      data-gel-description="Great for emulating a sunset. Also good for side lighting and cyclorama lighting."
      data-gel-sheets="2"
    >
      <div class="gel-item gel-L134">
        <div class="gel-swatch gel-swatch-L134">
          <div class="gel-swatch-code">L134</div>
        </div>
        <h2>Golden Amber</h2>
        <p>Great for emulating a sunset. Also good for side lighting and cyclorama lighting.</p>
        <dl class="gel-sheets">
          Sheets 2
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L135"
      data-gel-color="FF5F00"
      data-gel-name="Deep Golden Amber"
      data-gel-description="A great fire effect."
      data-gel-sheets="3"
    >
      <div class="gel-item gel-L135">
        <div class="gel-swatch gel-swatch-L135">
          <div class="gel-swatch-code">L135</div>
        </div>
        <h2>Deep Golden Amber</h2>
        <p>A great fire effect.</p>
        <dl class="gel-sheets">
          Sheets 3
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L136"
      data-gel-color="F0BEE6"
      data-gel-name="Pale Lavender"
      data-gel-description="Great for pantomimes and ballroom sets. Also enhances dark skin tones in follow spots."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L136">
        <div class="gel-swatch gel-swatch-L136">
          <div class="gel-swatch-code">L136</div>
        </div>
        <h2>Pale Lavender</h2>
        <p>Great for pantomimes and ballroom sets. Also enhances dark skin tones in follow spots.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L137"
      data-gel-color="C8B4E6"
      data-gel-name="Special Lavender"
      data-gel-description="Good for moonlight and musical / romantic scenes. Enhances skin tones."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L137">
        <div class="gel-swatch gel-swatch-L137">
          <div class="gel-swatch-code">L137</div>
        </div>
        <h2>Special Lavender</h2>
        <p>Good for moonlight and musical / romantic scenes. Enhances skin tones.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L139"
      data-gel-color="4BC300"
      data-gel-name="Primary Green"
      data-gel-description="Good for set lighting and cyclorama lighting."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L139">
        <div class="gel-swatch gel-swatch-L139">
          <div class="gel-swatch-code">L139</div>
        </div>
        <h2>Primary Green</h2>
        <p>Good for set lighting and cyclorama lighting.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L147"
      data-gel-color="FCB98C"
      data-gel-name="Apricot"
      data-gel-description="Good for sunrise, sunset and lamplight effects."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L147">
        <div class="gel-swatch gel-swatch-L147">
          <div class="gel-swatch-code">L147</div>
        </div>
        <h2>Apricot</h2>
        <p>Good for sunrise, sunset and lamplight effects.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L152"
      data-gel-color="FFD2C1"
      data-gel-name="Pale Gold"
      data-gel-description="Used with interior lighting to enhance skin tones."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L152">
        <div class="gel-swatch gel-swatch-L152">
          <div class="gel-swatch-code">L152</div>
        </div>
        <h2>Pale Gold</h2>
        <p>Used with interior lighting to enhance skin tones.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L156"
      data-gel-color="E1B48C"
      data-gel-name="Chocolate"
      data-gel-description="Warms light and reduces the intensity."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L156">
        <div class="gel-swatch gel-swatch-L156">
          <div class="gel-swatch-code">L156</div>
        </div>
        <h2>Chocolate</h2>
        <p>Warms light and reduces the intensity.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L157"
      data-gel-color="FF92A3"
      data-gel-name="Pink"
      data-gel-description="Great for dance sequences (useful for softening white costumes without affecting skin tones)."
      data-gel-sheets="4"
    >
      <div class="gel-item gel-L157">
        <div class="gel-swatch gel-swatch-L157">
          <div class="gel-swatch-code">L157</div>
        </div>
        <h2>Pink</h2>
        <p>Great for dance sequences (useful for softening white costumes without affecting skin tones).</p>
        <dl class="gel-sheets">
          Sheets 4
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L158"
      data-gel-color="FF8700"
      data-gel-name="Deep Orange"
      data-gel-description="A great fire effect."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L158">
        <div class="gel-swatch gel-swatch-L158">
          <div class="gel-swatch-code">L158</div>
        </div>
        <h2>Deep Orange</h2>
        <p>A great fire effect.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L161"
      data-gel-color="7DD2F5"
      data-gel-name="Slate Blue"
      data-gel-description="A pure medium blue. Good for skies, moonlight and dusk effects."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L161">
        <div class="gel-swatch gel-swatch-L161">
          <div class="gel-swatch-code">L161</div>
        </div>
        <h2>Slate Blue</h2>
        <p>A pure medium blue. Good for skies, moonlight and dusk effects.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L165"
      data-gel-color="5AC8EB"
      data-gel-name="Daylight Blue"
      data-gel-description="Great for moonlight effect."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L165">
        <div class="gel-swatch gel-swatch-L165">
          <div class="gel-swatch-code">L165</div>
        </div>
        <h2>Daylight Blue</h2>
        <p>Great for moonlight effect.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L170"
      data-gel-color="E6AADC"
      data-gel-name="Deep Lavender"
      data-gel-description="Great for set lighting, discos and theatres."
      data-gel-sheets="2"
    >
      <div class="gel-item gel-L170">
        <div class="gel-swatch gel-swatch-L170">
          <div class="gel-swatch-code">L170</div>
        </div>
        <h2>Deep Lavender</h2>
        <p>Great for set lighting, discos and theatres.</p>
        <dl class="gel-sheets">
          Sheets 2
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L172"
      data-gel-color="00DCDC"
      data-gel-name="Lagoon Blue"
      data-gel-description="A floodlit warm wash. Great for underwater scenes and ballet."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L172">
        <div class="gel-swatch gel-swatch-L172">
          <div class="gel-swatch-code">L172</div>
        </div>
        <h2>Lagoon Blue</h2>
        <p>A floodlit warm wash. Great for underwater scenes and ballet.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L176"
      data-gel-color="FFAAA0"
      data-gel-name="Loving Amber"
      data-gel-description="Used for backlighting and general areas. Great for sunrise effect and warming skin tones."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L176">
        <div class="gel-swatch gel-swatch-L176">
          <div class="gel-swatch-code">L176</div>
        </div>
        <h2>Loving Amber</h2>
        <p>Used for backlighting and general areas. Great for sunrise effect and warming skin tones.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L180"
      data-gel-color="A064E6"
      data-gel-name="Dark Lavender"
      data-gel-description="A pleasing effect for theatrical lighting and backlighting."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L180">
        <div class="gel-swatch gel-swatch-L180">
          <div class="gel-swatch-code">L180</div>
        </div>
        <h2>Dark Lavender</h2>
        <p>A pleasing effect for theatrical lighting and backlighting.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L181"
      data-gel-color="5000AA"
      data-gel-name="Congo Blue"
      data-gel-description="Looks like black light when used with a fluorescent source. Great effect colour. Very saturated."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L181">
        <div class="gel-swatch gel-swatch-L181">
          <div class="gel-swatch-code">L181</div>
        </div>
        <h2>Congo Blue</h2>
        <p>Looks like black light when used with a fluorescent source. Great effect colour. Very saturated.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L182"
      data-gel-color="F50000"
      data-gel-name="Light Red"
      data-gel-description="Good for theatre and television effect lighting as well as cycloramas."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L182">
        <div class="gel-swatch gel-swatch-L182">
          <div class="gel-swatch-code">L182</div>
        </div>
        <h2>Light Red</h2>
        <p>Good for theatre and television effect lighting as well as cycloramas.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L183"
      data-gel-color="00D7E3"
      data-gel-name="Moonlight Blue"
      data-gel-description="Good for moonlight effect and cycloramas."
      data-gel-sheets="2"
    >
      <div class="gel-item gel-L183">
        <div class="gel-swatch gel-swatch-L183">
          <div class="gel-swatch-code">L183</div>
        </div>
        <h2>Moonlight Blue</h2>
        <p>Good for moonlight effect and cycloramas.</p>
        <dl class="gel-sheets">
          Sheets 2
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L189"
      data-gel-color="EFECD9"
      data-gel-name="Cosmetic Silver Moss"
      data-gel-description="A cool highlight leaning towards yellow-green; good for use on mid range skin tones, avoid use on very dark and very pale skin tones."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L189">
        <div class="gel-swatch gel-swatch-L189">
          <div class="gel-swatch-code">L189</div>
        </div>
        <h2>Cosmetic Silver Moss</h2>
        <p>A cool highlight leaning towards yellow-green; good for use on mid range skin tones, avoid use on very dark and very pale skin tones.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L192"
      data-gel-color="FF8CB4"
      data-gel-name="Flesh Pink"
      data-gel-description="Good for musical and pantomime key lighting."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L192">
        <div class="gel-swatch gel-swatch-L192">
          <div class="gel-swatch-code">L192</div>
        </div>
        <h2>Flesh Pink</h2>
        <p>Good for musical and pantomime key lighting.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L194"
      data-gel-color="BE8CF0"
      data-gel-name="Surprise Pink"
      data-gel-description="Good for musicals."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L194">
        <div class="gel-swatch gel-swatch-L194">
          <div class="gel-swatch-code">L194</div>
        </div>
        <h2>Surprise Pink</h2>
        <p>Good for musicals.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L201"
      data-gel-color="C3E1FA"
      data-gel-name="Full CTB"
      data-gel-description="Converts tungsten (3200K) to photographic daylight (5700K)."
      data-gel-sheets="3"
    >
      <div class="gel-item gel-L201">
        <div class="gel-swatch gel-swatch-L201">
          <div class="gel-swatch-code">L201</div>
        </div>
        <h2>Full CTB</h2>
        <p>Converts tungsten (3200K) to photographic daylight (5700K).</p>
        <dl class="gel-sheets">
          Sheets 3
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L206"
      data-gel-color="FCEAD6"
      data-gel-name="Quarter CTO"
      data-gel-description="Converts daylight (6500K) to tungsten light (4600K)."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L206">
        <div class="gel-swatch gel-swatch-L206">
          <div class="gel-swatch-code">L206</div>
        </div>
        <h2>Quarter CTO</h2>
        <p>Converts daylight (6500K) to tungsten light (4600K).</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L208"
      data-gel-color="E6A550"
      data-gel-name="Full CTO + .6 ND"
      data-gel-description="Converts daylight (6500K) to tungsten (3200K) and reduces light 2 stops."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L208">
        <div class="gel-swatch gel-swatch-L208">
          <div class="gel-swatch-code">L208</div>
        </div>
        <h2>Full CTO + .6 ND</h2>
        <p>Converts daylight (6500K) to tungsten (3200K) and reduces light 2 stops.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L225"
      data-gel-color="D5D6D8"
      data-gel-name="Neutral Density Frost"
      data-gel-description="Used for soft light effects with the addition of 0.6 Neutral Density."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L225">
        <div class="gel-swatch gel-swatch-L225">
          <div class="gel-swatch-code">L225</div>
        </div>
        <h2>Neutral Density Frost</h2>
        <p>Used for soft light effects with the addition of 0.6 Neutral Density.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L250"
      data-gel-color="F6F7F8"
      data-gel-name="Half White Diffusion"
      data-gel-description="A medium diffusion used for soft light effects. Manufactured on a tough Polyester base in a range of seven strengths."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L250">
        <div class="gel-swatch gel-swatch-L250">
          <div class="gel-swatch-code">L250</div>
        </div>
        <h2>Half White Diffusion</h2>
        <p>A medium diffusion used for soft light effects. Manufactured on a tough Polyester base in a range of seven strengths.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L255"
      data-gel-color="FFFFFF"
      data-gel-name="Hollywood Frost"
      data-gel-description="A light frost effect that softens edges."
      data-gel-sheets="3"
    >
      <div class="gel-item gel-L255">
        <div class="gel-swatch gel-swatch-L255">
          <div class="gel-swatch-code">L255</div>
        </div>
        <h2>Hollywood Frost</h2>
        <p>A light frost effect that softens edges.</p>
        <dl class="gel-sheets">
          Sheets 3
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L281"
      data-gel-color="CDE6FA"
      data-gel-name="Three Quarter CTB"
      data-gel-description="Converts tungsten to daylight."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L281">
        <div class="gel-swatch gel-swatch-L281">
          <div class="gel-swatch-code">L281</div>
        </div>
        <h2>Three Quarter CTB</h2>
        <p>Converts tungsten to daylight.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L286"
      data-gel-color="FFB464"
      data-gel-name="One and a Half CTO"
      data-gel-description="Converts daylight (6500K) to tungsten (2507K)."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L286">
        <div class="gel-swatch gel-swatch-L286">
          <div class="gel-swatch-code">L286</div>
        </div>
        <h2>One and a Half CTO</h2>
        <p>Converts daylight (6500K) to tungsten (2507K).</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L287"
      data-gel-color="FFA055"
      data-gel-name="Double CTO"
      data-gel-description="Converts daylight (6500K) to tungsten (2147K)."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L287">
        <div class="gel-swatch gel-swatch-L287">
          <div class="gel-swatch-code">L287</div>
        </div>
        <h2>Double CTO</h2>
        <p>Converts daylight (6500K) to tungsten (2147K).</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L323"
      data-gel-color="00E1AA"
      data-gel-name="Jade"
      data-gel-description="Used for underwater scenes, cycloramas and backlighting."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L323">
        <div class="gel-swatch gel-swatch-L323">
          <div class="gel-swatch-code">L323</div>
        </div>
        <h2>Jade</h2>
        <p>Used for underwater scenes, cycloramas and backlighting.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L327"
      data-gel-color="008C50"
      data-gel-name="Forest Green"
      data-gel-description="A deep green for sinister forest scenes, cycloramas and backlighting."
      data-gel-sheets="2"
    >
      <div class="gel-item gel-L327">
        <div class="gel-swatch gel-swatch-L327">
          <div class="gel-swatch-code">L327</div>
        </div>
        <h2>Forest Green</h2>
        <p>A deep green for sinister forest scenes, cycloramas and backlighting.</p>
        <dl class="gel-sheets">
          Sheets 2
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L352"
      data-gel-color="5AC8E1"
      data-gel-name="Glacier Blue"
      data-gel-description="A cold blue, good for cool atmospheric mood setting."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L352">
        <div class="gel-swatch gel-swatch-L352">
          <div class="gel-swatch-code">L352</div>
        </div>
        <h2>Glacier Blue</h2>
        <p>A cold blue, good for cool atmospheric mood setting.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L353"
      data-gel-color="61E8E3"
      data-gel-name="Lighter Blue"
      data-gel-description="Good for daylight effects."
      data-gel-sheets="2"
    >
      <div class="gel-item gel-L353">
        <div class="gel-swatch gel-swatch-L353">
          <div class="gel-swatch-code">L353</div>
        </div>
        <h2>Lighter Blue</h2>
        <p>Good for daylight effects.</p>
        <dl class="gel-sheets">
          Sheets 2
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L366"
      data-gel-color="AAD2F0"
      data-gel-name="Cornflower"
      data-gel-description="Great for pale moonlight and seasonal mood lighting."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L366">
        <div class="gel-swatch gel-swatch-L366">
          <div class="gel-swatch-code">L366</div>
        </div>
        <h2>Cornflower</h2>
        <p>Great for pale moonlight and seasonal mood lighting.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L442"
      data-gel-color="FCDCAD"
      data-gel-name="Half CT Straw"
      data-gel-description="Converts 6500K to 4300K - daylight to tungsten light with a yellow bias."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L442">
        <div class="gel-swatch gel-swatch-L442">
          <div class="gel-swatch-code">L442</div>
        </div>
        <h2>Half CT Straw</h2>
        <p>Converts 6500K to 4300K - daylight to tungsten light with a yellow bias.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L500"
      data-gel-color="B4D2FF"
      data-gel-name="Double New Colour Blue"
      data-gel-description="The strongest of the NCB series for dramatic 'white' face and key light where warmer tones than CTB are required."
      data-gel-sheets="2"
    >
      <div class="gel-item gel-L500">
        <div class="gel-swatch gel-swatch-L500">
          <div class="gel-swatch-code">L500</div>
        </div>
        <h2>Double New Colour Blue</h2>
        <p>The strongest of the NCB series for dramatic 'white' face and key light where warmer tones than CTB are required.</p>
        <dl class="gel-sheets">
          Sheets 2
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L504"
      data-gel-color="D2F5DC"
      data-gel-name="Waterfront Green"
      data-gel-description="Designed for period key light and modern urban horizons."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L504">
        <div class="gel-swatch gel-swatch-L504">
          <div class="gel-swatch-code">L504</div>
        </div>
        <h2>Waterfront Green</h2>
        <p>Designed for period key light and modern urban horizons.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L505"
      data-gel-color="E3FF5A"
      data-gel-name="Sally Green"
      data-gel-description="A fresh, light and airy summer green. 'Under tree canopy' light quality without 'pantomime countryside'. "
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L505">
        <div class="gel-swatch gel-swatch-L505">
          <div class="gel-swatch-code">L505</div>
        </div>
        <h2>Sally Green</h2>
        <p>A fresh, light and airy summer green. 'Under tree canopy' light quality without 'pantomime countryside'. </p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L508"
      data-gel-color="5A46C3"
      data-gel-name="Midnight Maya"
      data-gel-description="A rich, sultry blue. Like Congo Blue, but greater light transmission so maintenance friendly - fewer gel changes."
      data-gel-sheets="2"
    >
      <div class="gel-item gel-L508">
        <div class="gel-swatch gel-swatch-L508">
          <div class="gel-swatch-code">L508</div>
        </div>
        <h2>Midnight Maya</h2>
        <p>A rich, sultry blue. Like Congo Blue, but greater light transmission so maintenance friendly - fewer gel changes.</p>
        <dl class="gel-sheets">
          Sheets 2
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L602"
      data-gel-color="a5a5aa"
      data-gel-name="Platinum"
      data-gel-description="At full power produces dazzling grey light with slight red bias, when dimmed warms up quickly to a useful brown. "
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L602">
        <div class="gel-swatch gel-swatch-L602">
          <div class="gel-swatch-code">L602</div>
        </div>
        <h2>Platinum</h2>
        <p>At full power produces dazzling grey light with slight red bias, when dimmed warms up quickly to a useful brown. </p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L603"
      data-gel-color="c8cdcd"
      data-gel-name="Moonlight White"
      data-gel-description="Pleasant white light at full power, dims down to a warm colour and at low intensities has more yellow than red."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L603">
        <div class="gel-swatch gel-swatch-L603">
          <div class="gel-swatch-code">L603</div>
        </div>
        <h2>Moonlight White</h2>
        <p>Pleasant white light at full power, dims down to a warm colour and at low intensities has more yellow than red.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L653"
      data-gel-color="965500"
      data-gel-name="LO Sodium"
      data-gel-description="Used on tungsten to create a Low Pressure Sodium look."
      data-gel-sheets="2"
    >
      <div class="gel-item gel-L653">
        <div class="gel-swatch gel-swatch-L653">
          <div class="gel-swatch-code">L653</div>
        </div>
        <h2>LO Sodium</h2>
        <p>Used on tungsten to create a Low Pressure Sodium look.</p>
        <dl class="gel-sheets">
          Sheets 2
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L700"
      data-gel-color="7D00CD"
      data-gel-name="Perfect Lavender"
      data-gel-description="In-between 170 Deep Lavender and 345 Fuchsia Pink, and is good for backlighting and romantic atmospheres."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L700">
        <div class="gel-swatch gel-swatch-L700">
          <div class="gel-swatch-code">L700</div>
        </div>
        <h2>Perfect Lavender</h2>
        <p>In-between 170 Deep Lavender and 345 Fuchsia Pink, and is good for backlighting and romantic atmospheres.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L708"
      data-gel-color="DCEBFA"
      data-gel-name="Cool Lavender"
      data-gel-description="For use as a warmer tint without turning yellow and to recreate the colour of fluorescent lighting."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L708">
        <div class="gel-swatch gel-swatch-L708">
          <div class="gel-swatch-code">L708</div>
        </div>
        <h2>Cool Lavender</h2>
        <p>For use as a warmer tint without turning yellow and to recreate the colour of fluorescent lighting.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L710"
      data-gel-color="8CA0F0"
      data-gel-name="Spir Special Blue"
      data-gel-description="A cool industrial blue."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L710">
        <div class="gel-swatch gel-swatch-L710">
          <div class="gel-swatch-code">L710</div>
        </div>
        <h2>Spir Special Blue</h2>
        <p>A cool industrial blue.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L711"
      data-gel-color="AABEDC"
      data-gel-name="Cold Blue"
      data-gel-description="Cold/grey HMI effect from a tungsten source. Will also help blend the light when using both tungsten and HMI sources."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L711">
        <div class="gel-swatch gel-swatch-L711">
          <div class="gel-swatch-code">L711</div>
        </div>
        <h2>Cold Blue</h2>
        <p>Cold/grey HMI effect from a tungsten source. Will also help blend the light when using both tungsten and HMI sources.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L714"
      data-gel-color="5A91D2"
      data-gel-name="Elysian Blue"
      data-gel-description="A new deeper version of Alice Blue."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L714">
        <div class="gel-swatch gel-swatch-L714">
          <div class="gel-swatch-code">L714</div>
        </div>
        <h2>Elysian Blue</h2>
        <p>A new deeper version of Alice Blue.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L716"
      data-gel-color="0064D2"
      data-gel-name="Mikkel Blue"
      data-gel-description="A romantic blue to produce a night effect."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L716">
        <div class="gel-swatch gel-swatch-L716">
          <div class="gel-swatch-code">L716</div>
        </div>
        <h2>Mikkel Blue</h2>
        <p>A romantic blue to produce a night effect.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L717"
      data-gel-color="C3E1FB"
      data-gel-name="Shanklin Frost"
      data-gel-description="201 with frost to soften the beam of profile units"
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L717">
        <div class="gel-swatch gel-swatch-L717">
          <div class="gel-swatch-code">L717</div>
        </div>
        <h2>Shanklin Frost</h2>
        <p>201 with frost to soften the beam of profile units</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L720"
      data-gel-color="C3E1FB"
      data-gel-name="Durham Daylight Frost"
      data-gel-description="Smoothes PAR or flood washes of large areas. Useful for houselight and good for entrances from natural light."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L720">
        <div class="gel-swatch gel-swatch-L720">
          <div class="gel-swatch-code">L720</div>
        </div>
        <h2>Durham Daylight Frost</h2>
        <p>Smoothes PAR or flood washes of large areas. Useful for houselight and good for entrances from natural light.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L723"
      data-gel-color="5082DC"
      data-gel-name="Virgin Blue"
      data-gel-description="This is a pure blue, not too green and not too lavender, yet still feels warm for a blue with an early morning feel."
      data-gel-sheets="2"
    >
      <div class="gel-item gel-L723">
        <div class="gel-swatch gel-swatch-L723">
          <div class="gel-swatch-code">L723</div>
        </div>
        <h2>Virgin Blue</h2>
        <p>This is a pure blue, not too green and not too lavender, yet still feels warm for a blue with an early morning feel.</p>
        <dl class="gel-sheets">
          Sheets 2
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L725"
      data-gel-color="BEF2F3"
      data-gel-name="Old Steel Blue"
      data-gel-description="Cool wash, useful for highlights."
      data-gel-sheets="4"
    >
      <div class="gel-item gel-L725">
        <div class="gel-swatch gel-swatch-L725">
          <div class="gel-swatch-code">L725</div>
        </div>
        <h2>Old Steel Blue</h2>
        <p>Cool wash, useful for highlights.</p>
        <dl class="gel-sheets">
          Sheets 4
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L730"
      data-gel-color="DCFFE6"
      data-gel-name="Liberty Green"
      data-gel-description="A good green for creating mystery and suspense."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L730">
        <div class="gel-swatch gel-swatch-L730">
          <div class="gel-swatch-code">L730</div>
        </div>
        <h2>Liberty Green</h2>
        <p>A good green for creating mystery and suspense.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L736"
      data-gel-color="00AA00"
      data-gel-name="Twickenham Green"
      data-gel-description="A powerful green with depth, for music or light entertainment."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L736">
        <div class="gel-swatch gel-swatch-L736">
          <div class="gel-swatch-code">L736</div>
        </div>
        <h2>Twickenham Green</h2>
        <p>A powerful green with depth, for music or light entertainment.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L741"
      data-gel-color="826400"
      data-gel-name="Mustard Yellow"
      data-gel-description="Spooky when used in haze. Removes some red and blue. Works best with daylight bulbs. Sodium lamp effect."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L741">
        <div class="gel-swatch gel-swatch-L741">
          <div class="gel-swatch-code">L741</div>
        </div>
        <h2>Mustard Yellow</h2>
        <p>Spooky when used in haze. Removes some red and blue. Works best with daylight bulbs. Sodium lamp effect.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L742"
      data-gel-color="E19B50"
      data-gel-name="Bram Brown"
      data-gel-description="Dirtier than 156 Chocolate, good for skin tones. Dims well and doesn't go pink at low light levels."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L742">
        <div class="gel-swatch gel-swatch-L742">
          <div class="gel-swatch-code">L742</div>
        </div>
        <h2>Bram Brown</h2>
        <p>Dirtier than 156 Chocolate, good for skin tones. Dims well and doesn't go pink at low light levels.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L744"
      data-gel-color="F8C882"
      data-gel-name="Dirty White"
      data-gel-description="Correct a daylight source to an off white tungsten source. Wwith tungsten provides a dingy smoky bar effect."
      data-gel-sheets="2"
    >
      <div class="gel-item gel-L744">
        <div class="gel-swatch gel-swatch-L744">
          <div class="gel-swatch-code">L744</div>
        </div>
        <h2>Dirty White</h2>
        <p>Correct a daylight source to an off white tungsten source. Wwith tungsten provides a dingy smoky bar effect.</p>
        <dl class="gel-sheets">
          Sheets 2
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L746"
      data-gel-color="6E3C00"
      data-gel-name="Brown"
      data-gel-description="To give a murky, dirty feel to tungsten. A darker, less pink chocolate."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L746">
        <div class="gel-swatch gel-swatch-L746">
          <div class="gel-swatch-code">L746</div>
        </div>
        <h2>Brown</h2>
        <p>To give a murky, dirty feel to tungsten. A darker, less pink chocolate.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L748"
      data-gel-color="E96785"
      data-gel-name="Seedy Pink"
      data-gel-description="A smoky pink. Good for tungsten on skin tones."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L748">
        <div class="gel-swatch gel-swatch-L748">
          <div class="gel-swatch-code">L748</div>
        </div>
        <h2>Seedy Pink</h2>
        <p>A smoky pink. Good for tungsten on skin tones.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L763"
      data-gel-color="FCF0D2"
      data-gel-name="Wheat"
      data-gel-description="Adds warmth, sunlight."
      data-gel-sheets="2"
    >
      <div class="gel-item gel-L763">
        <div class="gel-swatch gel-swatch-L763">
          <div class="gel-swatch-code">L763</div>
        </div>
        <h2>Wheat</h2>
        <p>Adds warmth, sunlight.</p>
        <dl class="gel-sheets">
          Sheets 2
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L764"
      data-gel-color="FCE6B4"
      data-gel-name="Sun Colour Straw"
      data-gel-description="Adds warmth, bright sunlight."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L764">
        <div class="gel-swatch gel-swatch-L764">
          <div class="gel-swatch-code">L764</div>
        </div>
        <h2>Sun Colour Straw</h2>
        <p>Adds warmth, bright sunlight.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L765"
      data-gel-color="FFE591"
      data-gel-name="LEE Yellow"
      data-gel-description="Useful for producing a strong sunlight effect."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L765">
        <div class="gel-swatch gel-swatch-L765">
          <div class="gel-swatch-code">L765</div>
        </div>
        <h2>LEE Yellow</h2>
        <p>Useful for producing a strong sunlight effect.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L777"
      data-gel-color="F58200"
      data-gel-name="Rust"
      data-gel-description="A vivid rust colour effect."
      data-gel-sheets="2"
    >
      <div class="gel-item gel-L777">
        <div class="gel-swatch gel-swatch-L777">
          <div class="gel-swatch-code">L777</div>
        </div>
        <h2>Rust</h2>
        <p>A vivid rust colour effect.</p>
        <dl class="gel-sheets">
          Sheets 2
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L779"
      data-gel-color="FC9885"
      data-gel-name="Bastard Pink"
      data-gel-description="Deep sunset. Useful on dark skin tones."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L779">
        <div class="gel-swatch gel-swatch-L779">
          <div class="gel-swatch-code">L779</div>
        </div>
        <h2>Bastard Pink</h2>
        <p>Deep sunset. Useful on dark skin tones.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L780"
      data-gel-color="FF6F00"
      data-gel-name="AS Golden Amber"
      data-gel-description="Between 778 Millennium Gold and 135 Deep Golden Amber, but less red. A strong colour good for backlighting."
      data-gel-sheets="2"
    >
      <div class="gel-item gel-L780">
        <div class="gel-swatch gel-swatch-L780">
          <div class="gel-swatch-code">L780</div>
        </div>
        <h2>AS Golden Amber</h2>
        <p>Between 778 Millennium Gold and 135 Deep Golden Amber, but less red. A strong colour good for backlighting.</p>
        <dl class="gel-sheets">
          Sheets 2
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L787"
      data-gel-color="B9003C"
      data-gel-name="Marius Red"
      data-gel-description="Nice deep full red. Rose leaf colour."
      data-gel-sheets="2"
    >
      <div class="gel-item gel-L787">
        <div class="gel-swatch gel-swatch-L787">
          <div class="gel-swatch-code">L787</div>
        </div>
        <h2>Marius Red</h2>
        <p>Nice deep full red. Rose leaf colour.</p>
        <dl class="gel-sheets">
          Sheets 2
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L789"
      data-gel-color="AA3C32"
      data-gel-name="Blood Red"
      data-gel-description="For a deep saturated red effect. Used when a strong vivid red effect is required."
      data-gel-sheets="2"
    >
      <div class="gel-item gel-L789">
        <div class="gel-swatch gel-swatch-L789">
          <div class="gel-swatch-code">L789</div>
        </div>
        <h2>Blood Red</h2>
        <p>For a deep saturated red effect. Used when a strong vivid red effect is required.</p>
        <dl class="gel-sheets">
          Sheets 2
        </dl>
      </div>
    </li>
    
    <li
      data-gel-code="L797"
      data-gel-color="AF0096"
      data-gel-name="Deep Purple"
      data-gel-description="Used in musical performances for general colour washes and set lighting."
      data-gel-sheets="1"
    >
      <div class="gel-item gel-L797">
        <div class="gel-swatch gel-swatch-L797">
          <div class="gel-swatch-code">L797</div>
        </div>
        <h2>Deep Purple</h2>
        <p>Used in musical performances for general colour washes and set lighting.</p>
        <dl class="gel-sheets">
          Sheets 1
        </dl>
      </div>
    </li>
    
  </ul>
</div>

</div>

<script type="text/template" id="gel-template">
  <li>
    <div class="gel-item gel-<%= gel.code %>">
      <div class="gel-swatch gel-swatch-<%= gel.code %>">
        <div class="gel-swatch-code"><%= gel.code %></div>
      </div>
      <h2><%= gel.name %></h2>
      <p><%= gel.description %></p>
      <dl class="gel-sheets">
        Sheets: <%= gel.sheets %>
      </dl>
    </div>
  </li>
</script>

<script type="text/javascript" src="/js/gels.js?cachebust=202501220621"></script>


    <footer class="site-footer">

  <div class="wrapper">
    &copy; 2019 Will Pimblett, source avaliable on <a href="https://github.com/newtheatre/lx">GitHub</a>.
  </div>

</footer>

  </body>
</html>
